/* Fuente y estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Estilo del título */
h1 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Contenedor de las tarjetas */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px; /* Para que no se expandan demasiado en pantallas grandes */
    padding: 20px;
}

/* Estilo de las tarjetas */
.card {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    height: 200px; /* Para que todas las tarjetas sean del mismo tamaño */
    box-shadow: 0 4px 10px rgba(106, 10, 79, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Animación al pasar el mouse */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}

/* Estilo del título del juego */
.card h2 {
    margin: 0;
    font-size: 18px;
    color: #00d4ff;
}

/* Estilo del precio */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #ffcc00;
    margin: 10px 0;
}

/* Estilo de la plataforma y editor */
.card p {
    font-size: 14px;
    margin: 5px 0;
}

.platform-logo {
    width: 40px;
    height: auto;
    display: block;
    margin: 10px auto;
    background-color: transparent;
}
.card img {
    background-color: transparent !important;
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

/* Asegurar que la vista en dispositivos móviles sea responsiva */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
}